/* font section poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header section start */

nav{
    max-width: 1100px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-taitle{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}
nav ul{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
nav li{
    padding-right: 40px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}
.nav-icon i{
    padding: 10px;
}
/* influencer section start */

.influencer-container{
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.influencer-containt{
    width: 50%;
    padding-left: 10px;
}
.influencer-title{
    font-size: 40px;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 60px;
}
.influencer-description{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}
.influencer-button{
    padding: 5px 18px;
    background-color: #E02C6D;
    border-radius: 41px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
}
.influencer-pic{
    width: 50%;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;

}
.influencer-pic img{
    width: 100%;
}
/* sponcer section start */
.sponcer-container{
    max-width: 1100px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* collection section start */
.collection-container{
    max-width: 1100px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    
}
.collection-title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    color: #3A3A3A;
}
.collection-card{
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
}
.collection-card img{
    width: 100%;
}
.collection-card .name{
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
    line-height: 40px;
}
.collection-card .praize{
    font-size: 24px;
    font-weight: 400;
    color: rgba(0,0,0,0.87);
    line-height: 150%;
}
.collection-card i{
    color: #FB8200;
}
.mark{
   padding-left: 15px;
   font-size: 14px;
   font-weight: 700;
   color: #5E6366;
   line-height: 22px;
   letter-spacing: 0.1px;
}
.collection-card .card-description{
    width: 196px;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
    color: #787885;
}
/* products section start */
.products-container{
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-pic{
    width: 50%;
}
.products-pic img{
    width: 80%;
}
.products-text{
    width: 50%;
}
.products-text-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
}
.products-text-description{
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #6C6C6C;
}
/* footer section start */
footer{
    background-color: #0A0826;
}
.footer-container{
    max-width: 1100px;
    margin: 50px auto 0;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
}
.footer-title{
    font-size: 24px;
    font-weight: 700;
}
.footer-description{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.footer-icon i{
    padding: 10px;
    margin-top: 15px;
}


/* media query start */

@media screen and (max-width: 576px) {
    nav, ul, 
    .influencer-container, 
    .products-container{
        flex-direction: column;
    }
    .collection-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .influencer-container{
        gap: 40px;
    }
    .influencer-containt, 
    .influencer-pic, 
    .products-pic, 
    .products-text{
        width: 100%;
    }
    .products-text{
        width: 400px;
    }
    .influencer-containt, 
    .products-container{
        text-align: center;
    }
    .products-container{
        flex-flow: column-reverse;
        gap: 20px;
    }
    .sponcer-container{
        max-width: 400px;
        height: 150px;
        flex-wrap: wrap;
    }
}